{% if overall_sentiment is not none %}
<div id="overall-sentiment" class="hidden">
  <ul
    class="w-42 text-sm text-center font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
  >
    {% with sentiment=overall_sentiment %} {% include
    "partials/components/sentiment_progress_bar.html" %} {% endwith %}
  </ul>
</div>
{% endif %} {% if sentiments_per_sentence %}
<div id="sentiments" class="overflow-hidden h-full w-full">
  <p class="text-white text-lg text-center mb-5 font-semibold">
    Sentiment per sentence:
  </p>
  <ul
    class="overflow-y-scroll overflow-x-hidden h-3/5 relative border-l border-gray-200 dark:border-gray-700"
  >
    {% for sentiment_per_sentence in sentiments_per_sentence %}
    <li class="mb-5">
      <h3
        class="flex items-center mx-1 mb-1 text-lg font-semibold text-gray-900 dark:text-white"
      >
        {% with sentiment=sentiment_per_sentence.sentiment_polarity %} {%
        include "partials/components/sentiment_progress_bar.html" %} {% endwith
        %}
      </h3>
      <p
        class="mb-4 mx-5 text-base font-normal text-gray-500 dark:text-gray-400"
      >
        {{sentiment_per_sentence.sentence}}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
