<!DOCTYPE html>
<html lang="en" class="w-full h-full">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <!-- https://tailwindcss.com/docs/ -->
    <script src="https://cdn.tailwindcss.com/"></script>
    <!-- https://htmx.org/reference/ -->
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <!-- https://hyperscript.org/reference/ -->
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
    <!-- https://flowbite.com/docs/getting-started/quickstart/#include-via-cdn -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
    <style>
      * {
        box-sizing: border-box;
      }

      [data-loading] {
        display: none;
      }
    </style>
    <title>Basic Text Analysis</title>
  </head>

  <body class="bg-gray-800 w-full h-full">
    <header class="p-6 bg-teal-700 text-white font-bold">
      Simple text analysis
    </header>
    <main class="flex flex-row justify-start my-12 mx-auto items-start bg-gray-800 space-x-8 w-full h-full" _="on htmx:afterSettle 
          if #overall-sentiment
            put #overall-sentiment.innerHTML into #overall-sentiment-value
            then remove #overall-sentiment">
      <form hx-post="{{ url_for('wordcloud') }}" hx-target="#generated-wordcloud"
        class="flex-1 flex flex-col ml-10 space-y-5 justify-center items-stretch" _="on htmx:beforeRequest 
              remove .hidden from #wordcloud-loading-spinner
              add .hidden to #generated-wordcloud
              on htmx:afterOnLoad 
              add .hidden to #wordcloud-loading-spinner
              remove .hidden from #generated-wordcloud">
        <div class="flex flex-row items-start">
          <textarea name="text_for_analysis" id="text_for_analysis" placeholder="Input your text here"
            class="w-[25vw] h-[50vh] block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            hx-post="{{ url_for('sentiments') }}" hx-trigger="keyup changed delay:500ms" hx-target="#text-sentiment"
            hx-sync="closest form:abort" _="on change call localStorage.setItem('text', my value)
                  init js return localStorage.getItem('text') end
                    then set my value to it
                    if my value is not empty
                      then trigger keyup on me /* keyup triggers hx-post */
                    end">
          </textarea>
          <button class="ml-2" id="clear-textarea" _="on click 
                    halt the event /* prevent bubbling and default behavior */
                    set #text_for_analysis.value to ''
                    call localStorage.setItem('text', '')
                    trigger keyup on #text_for_analysis">
            <svg class="w-7 h-7 hover:stroke-red-400 hover:scale-110 ease-in-out duration-300" fill="none"
              stroke="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M3 12l6.414 6.414a2 2 0 001.414.586H19a2 2 0 002-2V7a2 2 0 00-2-2h-8.172a2 2 0 00-1.414.586L3 12z">
              </path>
            </svg>
          </button>
        </div>
        <div class="flex flex-row items-center justify-start">
          <div id="overall-sentiment-container" class="mr-5">
            <p class="text-white text-lg px-5 py-2">Overall sentiment:</p>
            <div id="overall-sentiment-value"></div>
          </div>
          <button type="submit" id="get-wordcloud"
            class="text-white hover:scale-105 ease-in-out duration-200 bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            Get wordcloud
          </button>
        </div>
      </form>
      <div id="text-sentiment" class="flex-1 flex flex-col justify-start items-center h-full w-full"></div>
      <div id="wordcloud" class="flex-1 flex flex-col justify-start items-center">
        <p class="text-white font-semibold text-xl">Wordcloud</p>
        <p class="text-white mb-4 text-xl">☁️ 🌧️ 🌨️ ⛅ ⛈️ ☁️</p>
        <img id="wordcloud-loading-spinner" src="./assets/ball-triangle.svg" class="h-20 w-20 mt-10 hidden" />
        <div id="generated-wordcloud"></div>
    </main>
  </body>

</html>