<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <!-- https://tailwindcss.com/docs/ -->
    <script src="https://cdn.tailwindcss.com/"></script>
    <!-- https://htmx.org/reference/ -->
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <!-- https://hyperscript.org/reference/ -->
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
    <!-- https://flowbite.com/docs/getting-started/quickstart/#include-via-cdn -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css"
    />
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
    <style>
      * {
        box-sizing: border-box;
      }

      [data-loading] {
        display: none;
      }
    </style>
    <title>Basic Text Analysis</title>
  </head>
  <body class="bg-gray-800">
    <p class="p-8 bg-teal-700 text-white">Simple text analysis</p>
    <div
      class="content-wrapper w-full h-full flex flex-row justify-center items-center"
    >
      <div
        id="text-sentiment-container"
        class="flex flex-row justify-center items-start space-x-10 w-full h-full mx-20 mt-20"
        _="on htmx:afterSettle 
          if #overall-sentiment
            put #overall-sentiment.innerHTML into #overall-sentiment-container
            then remove #overall-sentiment"
      >
        <div class="flex-2 flex-col justify-center items-center">
          <form
            hx-post="{{ url_for('wordcloud') }}"
            hx-target="#wordcloud"
            class="flex flex-col space-y-10 justify-center items-center"
          >
            <div class="flex flex-row items-center">
              <textarea
                name="text_for_analysis"
                id="text_for_analysis"
                rows="15"
                cols="80"
                placeholder="Input your text here"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                hx-post="{{ url_for('sentiments') }}"
                hx-trigger="keyup changed delay:500ms"
                hx-target="#text-sentiment"
                hx-sync="closest form:abort"
                _="init js return localStorage.getItem('text') end
                      then set my value to it
                      if my value is not empty
                        then trigger keyup on me /* keyup triggers hx-post */
                      end
                    on change call localStorage.setItem('text', my value)"
              >
              </textarea>
              <button
                id="clear-textarea"
                _="on click 
                      halt the event /* prevent bubbling and default behavior */
                        set #text_for_analysis.value to '' then call localStorage.setItem('text', '')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 fill-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </button>
            </div>
            <div class="flex flex-row items-center gap-x-10">
              <div id="overall-sentiment-container"></div>
              <button
                type="submit"
                id="get-wordcloud"
                class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >
                Get wordcloud
              </button>
            </div>
          </form>
        </div>
        <div
          id="text-sentiment"
          class="flex-1 flex flex-col justify-center items-center"
        ></div>
        <div
          id="wordcloud"
          class="flex-1 flex flex-col justify-center items-center"
        ></div>
      </div>
    </div>
  </body>
</html>
