<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <!-- https://tailwindcss.com/docs/ -->
    <script src="https://cdn.tailwindcss.com" defer></script>
    <!-- https://htmx.org/reference/ -->
    <script src="https://unpkg.com/htmx.org@1.8.0" defer></script>
    <!-- https://hyperscript.org/reference/ -->
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    <script
      src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"
      defer
    ></script>
    <style>
      * {
        box-sizing: border-box;
      }
      [data-loading] {
        display: none;
      }
    </style>
    <title>Document</title>
  </head>
  <body hx-ext="loading-states" class="bg-gray-800">
    <div
      class="flex flex-col justify-center items-center mt-20 w-full h-full space-y-10"
      id="main-container"
    >
      <div
        id="text-sentiment-container"
        class="flex-1 flex flex-row justify-center items-start w-full h-full space-x-20"
        data-loading-states
      >
        <form
          hx-get="/wordcloud"
          hx-target="#wordcloud"
          class="flex flex-col space-y-10 items-center"
        >
          <textarea
            name="text_for_analysis"
            id="text_for_analysis"
            rows="10"
            cols="80"
            placeholder="Input your text here"
            class="bg-white rounded-md text-gray-dark w-fit p-5"
            hx-get="/sentiment"
            hx-trigger="keyup changed delay:500ms"
            hx-target="#text-sentiment"
            hx-sync="closest form:abort"
          ></textarea>
          <button
            class="rounded bg-purple-100 p-5 w-40"
            type="submit"
            id="get-wordcloud"
          >
            Get wordcloud
          </button>
        </form>
        <div id="text-sentiment"></div>
        <div id="wordcloud"></div>
      </div>
    </div>
  </body>
</html>
